body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Tajawal', sans-serif;
    padding: 10px;
    font-size: 3.2rem;
    font-weight: bolder;
    line-height: 25px;
    color:  black;
    text-align: start;
    line-height: 80%;
}

h2{
    font-family: 'Tajawal', sans-serif;
    font-size: 1.1rem;
    font-weight: 100 bold;
    margin:0;
    padding-top: 20px;
    text-align: center;
}

  



/* MENU */
nav{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: black solid 2px;
    padding: 0 20px;
}

nav img{
    width: 50px;
    height: 50px;
}

nav a{
    font-family: 'Tajawal', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-style: initial;
}

#menu{
    height: 80px;
    display: flex;
    align-items: center;
    width: 30vw;
    justify-content: space-between;
    flex-direction: row;
}

.botão {
    height: 80px;
    display: flex;
    align-items: center;
}

.botão button {
    background-color: white;
    padding: 8px 30px;
    border-radius: 12px;
    border: black solid 1px;
    font-size: 1rem;
    color: black;
    margin-left: 12px;
}






/* Banner - Aside */
aside{
    display: flex;
    background-color: lightgray;
    overflow: auto;
    padding: 0 20px;
    color: black;
    height: 580px;
    flex-direction: column;
    justify-content: center;
    border: black solid 2px;
    }

aside > div{
    display: flex;
    margin-left: 178px;
    flex-direction: column;
}  

aside p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 25px;
    margin: 0 12px;  
    padding-bottom: 20px;
    justify-content: flex-start;
    color:  black;
    text-align: start;
}
.img{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 360px;
    flex-direction: row;
    padding: 20px 0;
}

.sociais{
    padding: 15px;
    flex-direction: row;
    background-color: white;
    align-items: center;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}






/* Section com os botões de atalho para inscrição de empresas e jovens*/
.atalho{
    border: black solid 2px;    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}

.bloco{
    border: black solid 2px; 
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;   
    width: 20%;
    height: 150px;
    margin: 0 70px;
}

.bloco p {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 20px;
    justify-content: flex-start;
    color:  black;
    text-align: center;
    width: 250px;
    padding: 15px;
}

.bloco button{
    background-color: white;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 12px;
    border: black solid 1px;
    font-size: 1rem;
    color: black;
}







/* PORQUE A DEMODAY? */
.sessao1{
    display: flex;
    background-color: white;
    color: black;
    height: 475px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: black solid 2px;
    width: 100%;
    }

.sessao1 > div{
    display: flex;
    margin-left: 178px;
    flex-direction: column;
}  

.sessao1 h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 30px;
    justify-content: flex-start;
    color:  black;
    text-align: left;
    margin: 0 12px;

}

.sessao1 p{
    font-size: 1.2rem;
    line-height: 20px;
    padding: 25px 0;
    color:  black;
    width: 350px;
    line-height: 25px;
    margin: 0 12px;  
    justify-content: flex-start;
    color:  black;
    text-align: justify;
}







/* COMO FUNCIONA? */
#container{
    display: flex;
    border: black solid 2px;
    padding: 25px;
    flex-direction: column;
    align-items: center;
}

#container > h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 20px;
    justify-content: flex-start;
    color:  black;
    text-align: center;
    width: 900px;
}

#container > p {
    font-size: 1.2rem;
    line-height: 20px;
    padding: 25px 0;
    justify-content: flex-start;
    color:  black;
    text-align: center;
    width: 900px;
}

.comoFunciona{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 75%;
}

.comoFunciona img{
    background-color: rgba(129, 129, 129, 0.5);
    padding: 20px;
    margin:0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
}

.comoFunciona p{
    font-size: 0.8rem;
    font-weight: 280;
    line-height: 25px;
    margin: 0;  
    padding-top: 20px;
    justify-content: center;
    color: rgb(129, 129, 129);
    text-align: center;
}

.box3{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 343px;
}

.box2{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 343px;
}

.box1{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 343px;
}









/* EMPRESAS PARCEIRAS */
.sessao2{
    display: flex;
    background-color: lightgray;
    color: black;
    height: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    width: 100%;
    }

.sessao2 > div{
    display: flex;
    margin-right: 178px;
    flex-direction: column;
}  

.sessao2 h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 30px;
    justify-content: flex-start;
    color:  black;
    text-align: left;
    margin: 0 12px;

}

.sessao2 p{
    font-size: 1.2rem;
    line-height: 20px;
    padding: 25px 0;
    color:  black;
    width: 550px;
    line-height: 25px;
    margin: 0 12px;  
    justify-content: flex-start;
    color:  black;
    text-align: left;
}






/* FOOTER */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

#rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 450px;

}

#rodape > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgUm{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    width: 200px;
    justify-content: space-around;
}

.sociaisUm{
    padding: 15px;
    flex-direction: row;
    background-color: lightgray;
    align-items: center;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 15px;
}

.navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    width: 30%;
}